<div class="col-md-5">
    <div ng-init="item.company_id = storage.membership.company_id"></div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" ng-model="item.firstname" placeholder="e.g. John">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" ng-model="item.lastname" placeholder="e.g. Paul">
    </div>
    <div class="form-group" ng-hide="isEdit">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="item.username" placeholder="e.g. admin1234">
    </div>
    <div class="form-group" ng-hide="isEdit">
        <label for="email">Email</label>
        <input type="text" class="form-control" ng-model="item.email" placeholder="e.g. example@example.com">
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" name="role" id="role" ng-model="item.role">
            <option value="u">User</option>
            <option value="m">Manager</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="item.password" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" ng-model="item.confirm_password" placeholder="Repeat Password">
    </div>
</div>
<div class="col-md-7"></div>
