<section class="content-header" style="padding-top:110px;">
    <h1>
        Account List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Account</li>
    </ol>
</section>
<section class="content">
    <div mainTable>
        <table class="table table-striped table-bordered list">
            <thead>
            <tr>
                <th sortable="username" ng-model="listOptions" changed="refreshList()">Username</th>
                <th sortable="lastname" ng-model="listOptions" changed="refreshList()">Last Name</th>
                <th sortable="firstname" ng-model="listOptions" changed="refreshList()">First Name</th>
                <th sortable="email" ng-model="listOptions" changed="refreshList()">Email Address</th>
                <th sortable="role" ng-model="listOptions" changed="refreshList()">Role</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>gadd</td>
                    <td>gadd</td>
                    <td>gadd</td>
                    <td>gadd</td>
                    <td>gadd</td>
                </tr>

            <tbody>
        </table>
    </div>
</section>
