<div class="login-box">
    <div class="login-logo">
        <a href="#">
            <img src="./img/logo.png" class="logo-responsive">
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Change Password</p>

        <form name="form" role="form">
            <div class="form-group has-feedback">
                <input type="password" name="new_password" class="form-control" ng-model="formData.new_password"
                       placeholder="New Password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="confirm_password" class="form-control" ng-model="formData.confirm_password"
                       placeholder="Confirm Password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="change_password(formData)">
                        Submit
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<style>
    .content-wrapper {
        margin-left: 0 !important;
    }

    .main-sidebar {
        background-color: #ecf0f5 !important;
    }
</style>
