<div class="register-box">
    <div class="register-logo">
        <a href="#">
            <img src="./img/logo.png" class="logo-responsive">
        </a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership
            <br>
            <small>Free 60 days Trial</small>
        </p>

        <form name="form" role="form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Company name" ng-model="item.company_name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="First name" ng-model="item.firstname">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Last name" ng-model="item.lastname">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" ng-model="item.username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email Address" ng-model="item.email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="item.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Retype password"
                       ng-model="item.confirm_password">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> I agree to the <a type="button"
                                                                      data-toggle="modal"
                                                                      data-target=".bs-example-modal-lg">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->

                <input type="text" value="a" ng-model="item.role" hidden/>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="signupUser(item)">
                        Register
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <hr>
        <a ui-sref="index.login" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
            </div>
            <div class="modal-body">
                <div style="margin: 0 20px">
                    <div ng-include="'terms_of_service.html'"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

<style>
    .content-wrapper {
        margin-left: 0 !important;
    }

    .main-sidebar {
        background-color: #ecf0f5 !important;
    }
</style>
