@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
html, body {
  height: 100%;
  min-height: 18em;
}

.frontend-side {
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 330px;
    overflow:visible;
    margin-top: 4%;
    margin-bottom: 3.5%;
  background:
            linear-gradient(rgba(51, 58, 86, 0.80), rgba(51,58,86, 0.80)), url("../images/book.jpeg");
  background-size: cover;
}

.uiux-side {
    background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 330px;
    margin-top: 4%;
    margin-bottom: 3.5%;
    background:
            linear-gradient(rgba(232, 232, 232, 0.80), rgba(232,232,232, 0.80)), url("../images/books2.jpg");
  color: #333A56 !important;
  background-size: cover;
}
.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.3em;
  color: white;
  font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.tab2{
    margin-top: 0 !important;
}

.split-pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.split-pane > div .text-content {
  margin-top: 6em;
  line-height: 1.6em;
  margin-bottom: 1em;
}
.split-pane > div .text-content .big {
  font-size: 2em;
}
.split-pane > div img {
  height: 1.3em;
}
@media (max-width: 500px) {
  .split-pane > div img {
    display:none;
  }
}
.split-pane button, .split-pane a.button {
  font-family: 'Open Sans', sans-serif;
	font-weight:800;
  background: none;
  border: 1px solid #333A56;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #333A56;
  display: inline-block;
	cursor: pointer;
}
.split-pane button:hover, .split-pane a.button:hover {
  text-decoration: none;
  background-color: #333A56;
  border-color: #333A56;
	cursor: pointer;
}
.uiux-side.split-pane button:hover, .split-pane a.button:hover {
  color: #F7F5E6;
}
.frontend-side.split-pane button:hover, .split-pane a.button:hover {
  color: #333A56;
}

.display{
    margin-top: 3em;
}

#split-pane-or {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 925px) {
  #split-pane-or {
    top:15%;
  }
}
#split-pane-or > div img {
  height: 2.5em;
}
@media (max-width: 500px) {
  #split-pane-or {
    position: absolute;
    top: 50px;
  }
  #split-pane-or > div img {
    height:2em;
  }
}
@media(min-width: 500px) {
  #split-pane-or {
    font-size: 3em;
  }
}
.big {
  font-size: 2em;
}

#slogan {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  vertical-align: baseline;
  top: 0.5em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}
@media(min-width: 500px) {
  #slogan {
    top: 5%;
    font-size: 1.8em;
  }
}
#slogan img {
  height: 0.7em;
}
.bold {
	text-transform:uppercase;
}
.big {
	font-weight:800;
}
a.button {
    color: #F7F5E6 !important;
    border: 1px solid #F7F5E6 !important;
}
h1 a.navbar-brand {
  font-size: 1.2em;
  letter-spacing: 0.5px;
  color: #F7F5E6 !important;
  padding: 14px 0 0;
  position: relative;
  text-transform: capitalize;
  font-family: 'Fredericka the Great', cursive !important;
}
@media screen and (max-width: 1290px) {

}
@media screen and (max-width: 1100px) {

    .tab2{
    margin-top: 0 !important;
    }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 900px) {

    .display{
            position: relative !important;
            width: 100%;
            font-size: 2em !important;
            margin: 1.5em 0;
    }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 736px) {
    .inner-about2 h4 {
        font-size: 1.8em;
    }
    .split-pane > div .text-content .big {
        font-size: 1.5em;
    }
    .split-pane > div .text-content .bold {
        font-size: 1.25em;
    }


}

@media(max-width:600px) {
	.display {
        width: 40%;
        margin: 0.5em;
        float: left;
        margin-left: 4em !important;
        font-size: 2em !important;
    }
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 568px) {
    .split-pane > div .text-content .big {
        font-size: 1.25em;
    }
        .split-pane > div .text-content .bold {
        font-size: 1.5em;
    }
    .split-pane > div .text-content .bold {
        font-size: 1em;
    }
}



@media(max-width: 640px) {
    .split-pane {
        font-size:1.1em;
    }
    .banner-bg-agileits{
        padding-top:7em;
    }
    .split-pane > div .text-content {
        margin-top: 10em;
    }
}
@media(max-width: 500px) {
    .split-pane {
        font-size:1.5em;
    }
}
@media(max-width: 415px) {
    .split-pane {
        font-size:1.25em;
    }
    .split-pane > div .text-content {
        margin-top: 11em;
    }
}