{% extends 'base/base.html' %}
{% block content %}
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="index.html">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="addbook.html">Add Book</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- contact -->
        <div class="section contact" id="contact">
            <div class="container">
                <h4 class="rad-txt text-center">
                    <span class="abtxt1">Add</span>
                    <span class="abtext">Book</span>
                </h4>
                <div class="contact-form">
                    <div class="col-md-7">
                        <!-- contact form grid -->
                        <div class="contact-top1">
                            <h5>New Book</h5>
                            <form action="{{url_for('addbook')}}" class="form_w3layouts" method="post">
                                <input type="text" placeholder="Title" name="title" required="">
                                <input type="text" placeholder="Author's First Name"  name="author_fname" required="">
                                <input type="text" placeholder="Author's Last Name"  name="author_lname" required="">
                                <input type="text" placeholder="Publisher"  name="publisher_name" required="">
                                <input type="text" placeholder="Year of Published"  name="year" required="">
                                <input type="text" placeholder="Edition"  name="edition" required="">
                                <input type="text" placeholder="ISN"  name="isbn" required="">
                                <!--
                                <select class="genre" name="format" id="format">
                                    <option selected="selected">Select format</option>
                                    <option value="Yes">Hardbound</option>
                                    <option value="No">Softbound</option>
                                </select>
                                <select class="genre" name="genre" id="genre">
                                    <option selected="selected">Select genre..</option>
                                    <option value="Action">Action</option>
                                    <option value="Adventure">Adventure</option>
                                    <option value="Biography">Biography</option>
                                    <option value="Drama">Drama</option>
                                    <option value="English">English</option>
                                    <option value="Essay">Essay</option>
                                    <option value="History">History</option>
                                    <option value="Horror">Horror</option>
                                    <option value="Journalism">Journalism</option>
                                    <option value="Math">Math</option>
                                    <option value="Mystery">Mystery</option>
                                    <option value="Mythology">Mythology</option>
                                    <option value="Personal Narrative">Personal Narrative</option>
                                    <option value="Reference Book">Reference Book</option>
                                    <option value="Science">Science</option>
                                    <option value="Speech">Speech</option>
                                </select>
                                <textarea placeholder="Description" name="description" required=""></textarea>
                                -->
                                <input type="submit" value="Submit">
                            </form>
                    </div>
                        <!--  //contact form grid ends here -->
                </div>
                <!-- contact map grid -->
                <div class="col-md-5 map contact-right">
                    <div class="contact-top1">
                        <a href="shop2.html" class="btn btn-success btnprofile">Upload Photo</a>
                        <img src="#">
                    </div>
                </div>
                    <!--//contact map grid ends here-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- //contact -->
{% endblock %}