{% extends 'base/base-dashboard.html' %}
{% block content %}
            <div class='banner-text split-pane col-xs-6 col-sm-6 col-lg-6 uiux-side'>
              <div>
                <div class='text-content'>

                </div>

              </div>
            </div>
            <div class='banner-text split-pane col-xs-6 col-sm-6 col-lg-6 frontend-side'>
              <div>
                <div class='text-content'>
                  <div class="bold"></div>
                  <div class='big'>BOOKSHELF</div>
                </div>
                <a href="{{ url_for('addbook') }}" class='button'>
                  Add your own Book
                </a>
              </div>
            </div>
            <div id='split-pane-or'>
              <div>
              </div>
            </div>
        </div>
        <!-- //banner -->
        <!-- about -->
        <div class="about-bottom section">
            <div class="container-fluid" style="height:500px;">
                <div class="jumbotron" style="height:175px;">
                    <h4 class="rad-txt">
                        <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
                        <span class="big-tab pull-left">Suggestion</span>
                        <ul class="nav nav-tabs dashtab pull-left">
                            <li class="active btn btn-success btntab"><a data-toggle="tab" href="#toprated">Top Rated</a></li>
                            <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu1">Latest Books</a></li>
                            <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu2">Newly Added</a></li>
                        </ul>
                    </h4>
                </div>
            </div>
            <div class="tab-content" style="height:500px; margin-top:1em; margin-left:6em;">
                    <!-- product-sec1 -->
                    <div id="toprated" class="product-sec1 tab-pane fade in active">
                        <!-- row1-->
                        <h1 class="display" style="text-align:center; position: absolute; margin: 2em 5em 0em;font-size:5em;">No Books to Display</h1>
                        <!-- //row1 -->
                        <!-- row2 -->
                    </div>
                        <!-- //row2 -->
                        <!-- row3 -->

                    <div id="menu1" class="product-sec1 tab-pane">
                        <!-- row1-->
                        <h1 style="text-align:center; font-size:5em;">{{message}}</h1>
                        {% for book in books %}
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+book.book_cover)}}" class="book-img" style="height:245px; width:205px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>3/5</h4>
                                            <h4>{{ book.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ book.title }}</h4>
                                    <p class="author">{{ book.author_fname }} {{ book.author_lname }}</p>
                                    <p><a href="#" style="margin:auto; color: #777;">{{ book.owner_fname }} {{ book.owner_lname }}</a></p>
                                    <div class="book-tags">
                                        <a href="#">Borrow<i class="fa fa-book" aria-hidden="true"></i></a>
                                        <a href="#">Buy<i class="fa fa-ruble" aria-hidden="true"></i></a>
                                        <a href="{{ url_for('add_wishlist', book_id=book.book_id, bookshelf_id=book.owner_bookshelfid) }}">Bookmark<i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="menu2" class="product-sec1 tab-pane fade">
                        <!-- row1-->
                        <h1 class="display" style="text-align:center; position: absolute; margin: 2em 5em 0em;font-size:5em;">No Books to Display</h1>
                    </div>
                </div>
                        <!-- //row3 -->
            </div>
						<!-- //product-sec1 -->
						<div class="clearfix"></div>
        </div>
        <!-- //about ends here -->
        <!-- about bottom -->
        <div class="about-bottom section">
            <div class="container-fluid">
                <div class="jumbotron" style="height:175px;">
                    <h4 class="rad-txt">
                        <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
                        <span class="big-tab pull-left">Latest</span>
                        <ul class="nav nav-tabs dashtab pull-left">
                            <li class="active btn btn-success btntab"><a data-toggle="tab" href="#action">Action</a></li>
                            <li class="btn btn-success btntab"><a data-toggle="tab" href="#drama">Drama</a></li>
                            <li class="btn btn-success btntab"><a data-toggle="tab" href="#horror">Horror</a></li>
                        </ul>
                    </h4>
                </div>
            </div>
                <!-- about-bottom grid1 -->
                <div class="tab-content tab2" style="height:500px; margin-left:6em;">
                    <!-- product-sec1 -->
                    <div id="action" class="product-sec1 tab-pane fade in active">
                        <!-- row1-->
                        {% for abook in actionbooks %}
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=abook.book_id, username=abook.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+abook.book_cover)}}" class="book-img" style="height:245px; width:205px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>3/5</h4>
                                            <h4>{{ abook.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=abook.book_id, username=abook.owner_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ abook.title }}</h4>
                                    <p class="author">{{ abook.author_fname }} {{ abook.author_lname }}</p>
                                    <p><a href="#" style="margin:auto; color: #777;">{{ abook.owner_fname }} {{ abook.owner_lname }}</a></p>
                                    <div class="book-tags">
                                        <a href="#">Borrow<i class="fa fa-book" aria-hidden="true"></i></a>
                                        <a href="#">Buy<i class="fa fa-ruble" aria-hidden="true"></i></a>
                                        <a href="{{ url_for('add_wishlist', book_id=abook.book_id, bookshelf_id=abook.owner_bookshelfid) }}">Bookmark<i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- //row1 -->
                        <!-- row2 -->
                    </div>
                        <!-- //row2 -->
                        <!-- row3 -->

                    <div id="drama" class="product-sec1 tab-pane">
                        <!-- row1-->
                        <h1 style="text-align:center; font-size:5em;">{{message}}</h1>
                        {% for dbook in dramabooks %}
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=dbook.book_id, username=dbook.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+dbook.book_cover)}}" class="book-img" style="height:245px; width:205px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>3/5</h4>
                                            <h4>{{ dbook.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=dbook.book_id, username=dbook.owner_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ dbook.title }}</h4>
                                    <p class="author">{{ dbook.author_fname }} {{ dbook.author_lname }}</p>
                                    <p><a href="#" style="margin:auto; color: #777;">{{ dbook.owner_fname }} {{ dbook.owner_lname }}</a></p>
                                    <div class="book-tags">
                                        <a href="#">Borrow<i class="fa fa-book" aria-hidden="true"></i></a>
                                        <a href="#">Buy<i class="fa fa-ruble" aria-hidden="true"></i></a>
                                        <a href="{{ url_for('add_wishlist', book_id=dbook.book_id, bookshelf_id=dbook.owner_bookshelfid) }}">Bookmark<i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="horror" class="product-sec1 tab-pane fade">
                        <!-- row1-->
                        {% for hbook in horrorbooks %}
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=hbook.book_id, username=hbook.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+hbook.book_cover)}}" class="book-img" style="height:245px; width:205px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>3/5</h4>
                                            <h4>{{ hbook.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=hbook.book_id, username=hbook.owner_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ hbook.title }}</h4>
                                    <p class="author">{{ hbook.author_fname }} {{ hbook.author_lname }}</p>
                                    <p><a href="#" style="margin:auto; color: #777;">{{ hbook.owner_fname }} {{ hbook.owner_lname }}</a></p>
                                    <div class="book-tags">
                                        <a href="#">Borrow<i class="fa fa-book" aria-hidden="true"></i></a>
                                        <a href="#">Buy<i class="fa fa-ruble" aria-hidden="true"></i></a>
                                        <a href="{{ url_for('add_wishlist', book_id=hbook.book_id, bookshelf_id=hbook.owner_bookshelfid) }}">Bookmark<i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
                    <div class="clearfix"></div>
            <!-- //about container ends here-->
        <!--//about bottom ends here-->
{% endblock %}