{% extends 'base/base-dashboard.html' %}
{% block content %}
            <div class='banner-text split-pane col-xs-6 col-sm-6 col-lg-6 uiux-side'>
              <div>
                <div class='text-content'>

                </div>

              </div>
            </div>
            <div class='banner-text split-pane col-xs-6 col-sm-6 col-lg-6 frontend-side'>
              <div>
                <div class='text-content'>
                  <div class="bold"></div>
                  <div class='big'>BOOKSHELF</div>
                </div>
                <a href="{{ url_for('addbook') }}" class='button'>
                  Add your own Book
                </a>
              </div>
            </div>
            <div id='split-pane-or'>
              <div>
              </div>
            </div>
        </div>
        <!-- //banner -->
        <!-- about -->
        <div class="wrapper_top_shop">
            <h4 class="rad-txt">
                <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
                <span class="abtext">SUGGESTION</span>
                <ul class="nav nav-tabs">
                    <li class="active btn btn-success btntab"><a data-toggle="tab" href="#toprated">Top Rated</a></li>
                    <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu1">Latest Books</a></li>
                    <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu2">Newly Added</a></li>
                </ul>


            </h4>
            <div class="tab-content">
                    <!-- product-sec1 -->
                    <div id="toprated" class="product-sec1 tab-pane fade in active">
                        <!-- row1-->
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>be creative</h4>
                                    <p>Clayton Barton</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 200.00</li>
                                            <li>$ 100.00</li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>marketing</h4>
                                    <p>Niel Fontine</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 200.00</li>
                                            <li>
                                                $250.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>work from home</h4>
                                    <p>Jose portilla</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 80.00</li>
                                            <li>
                                                $100.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>online business</h4>
                                    <p>Clayton Barton</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 120.00</li>
                                            <li>
                                                $130.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- //row1 -->
                        <!-- row2 -->
                    </div>
                        <!-- //row2 -->
                        <!-- row3 -->

                    <div id="menu1" class="product-sec1 tab-pane">
                        <!-- row1-->
                        <h1 style="text-align:center; font-size:5em; margin:2em;">{{message}}</h1>
                        {% for book in books %}
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr" style="height:30em; background: #fff;">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+book.book_cover)}}" alt="" style="height:232px;">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h5 style="overflow-y: hidden; max-height:4.5em; font-weight: bold; background: #eee; text-align:center;">{{ book.title }}</h5>
                                    <p>{{ book.author_fname }} {{ book.author_lname }}</p>
                                    <p><a href="#" style="margin:auto; color: #777; text-align:center;"> Owner: {{ book.owner_fname }} {{ book.owner_lname }}</a></p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="menu2" class="product-sec1 tab-pane fade">
                        <!-- row1-->
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>be creative</h4>
                                    <p>Clayton Barton</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 200.00</li>
                                            <li>$ 100.00</li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>marketing</h4>
                                    <p>Niel Fontine</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 200.00</li>
                                            <li>
                                                $250.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>work from home</h4>
                                    <p>Jose portilla</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 80.00</li>
                                            <li>
                                                $100.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>online business</h4>
                                    <p>Clayton Barton</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 120.00</li>
                                            <li>
                                                $130.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">
                                    </form>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>marketing</h4>
                                    <p>Scott Harris</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 180.00</li>
                                            <li>
                                                $220.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>online business</h4>
                                    <p>Scott Harris</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 330.00</li>
                                            <li>
                                                $560.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>kids</h4>
                                    <p>Cordebard</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 280.00</li>
                                            <li>
                                                $500.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="images/lib3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>work from home</h4>
                                    <p>Cordebard</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="price-list">
                                            <li>$ 140.00</li>
                                            <li>
                                                $200.00
                                            </li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    <form action="#" method="post">

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- //row3 -->
            </div>
						<!-- //product-sec1 -->
						<div class="clearfix"></div>
        </div>
        <!-- //about ends here -->
        <!-- about bottom -->
        <div class="about-bottom section">
            <div class="container-fluid">
                <h4 class="rad-txt">
                    <span class="abtxt1">BOOKSHELF</span>
                    <span class="abtext">Genre</span>
                    <a href="genre.html" class="btn btn-success pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
                </h4>
                <!-- about-bottom grid1 -->
                <div class="col-md-12 about-bottom-right">
                    <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Action') }}">action</a></h5>
                                <p>Books in the action genre usually put more emphasis on exciting action sequences than deep
                                    themes and character development. </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Adventure') }}">adventure</a></h5>
                                <p>A genre of fiction in which action is the key element, overshadowing characters, theme and
                                    setting. The conflict in an adventure story is often man against nature. A secondary
                                    plot that reinforces this kind of conflict is sometimes included.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Biography') }}">biography</a></h5>
                                <p>A life story documented in history and transformed into fiction through the insight and
                                    imagination of the writer. This type of novel melds the elements of biographical research
                                    and historical truth into the framework of a novel, complete with dialogue, drama and mood</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Drama') }}">drama</a></h5>
                                <p>Drama film is a genre that relies on the emotional and relational development of realistic
                                    characters. While Drama film relies heavily on this kind of development, dramatic themes
                                    play a large role in the plot as well.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='English') }}">english</a></h5>
                                <p>English for academic purposes (EAP) entails training students, usually in a higher education
                                    setting, to use language appropriately for study. It is one of the most common forms of
                                    English for specific purposes (ESP).</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Essay') }}">essay</a></h5>
                                <p>a short literary composition on a particular theme or subject, usually in prose and generally
                                    analytic, speculative, or interpretative.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='History') }}">history</a></h5>
                                <p>a continuous, systematic narrative of past events as relating to a particular people,
                                    country, period, person, etc., usually written as a chronological account. </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5><a style="color:#000" href="{{ url_for('view_genre', genre_name='Horror') }}">horror</a></h5>
                                <p>Horror fiction is fiction in any medium intended to scare, unsettle, or horrify the audience.
                                    Historically, the cause of the "horror" experience has often been the intrusion of a
                                    supernatural element into everyday human experience.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //about container ends here-->
        </div>
        <!--//about bottom ends here-->
{% endblock %}