{% extends 'base/landing-page.html' %}

{% block content %}
        <!-- signin and signup form -->
        <div class="login-form section text-center" style="min-height:95vh; padding-bottom:60px;">
            <div class="container">
                <h4 class="rad-txt">
                    <span class="abtxt1">Sign in</span>
                    <span class="abtext">sign up</span>
                </h4>
                <div id="loginbox" style="margin-top:30px;" class="mainbox  loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                            <div class="fpassword">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <div style="padding-top:30px" class="panel-body">
                            <div class="alert alert-danger alert-dismissible fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Incorrect username or password.</strong> Please double-check and try again.
                            </div>
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <form id="loginform" class="form-horizontal" action="{{ url_for('login') }}" method="post">
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required="">
                                </div>

                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required="">
                                </div>
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 controls">
                                        <a id="btn-login" href="javascript:{}" onClick="document.getElementById('loginform').submit();" class="btn btn-success">Login </a>
                                        <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                            Don't have an account!
                                            <a href="#" style="color: #23527c;" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                                Sign Up Here
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="signupbox" style="display:none; margin-top:50px" class="mainbox loginbox">
                        <form id="signupform" class="form-horizontal" action="{{ url_for('check_username') }}" method="post">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">Sign Up</div>
                                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                                        <a id="signinlink" href="#" onClick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                        <h3>Account Information</h3>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-3 control-label">Username</label>
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <input type="text" class="form-control" name="username" placeholder="Username" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 col-xs-3 control-label">Password</label>
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <input type="password" class="form-control" name="password" placeholder="Password" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- Button -->
                                            <div class="signup-btn">
                                                <button id="btn-signup" type="submit" form="signupform"  class="btn btn-info">
                                                    <i class="icon-hand-right"></i>Next</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="cpy-right footer">
                <p>© 2018 Chronicle. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
    </footer>
    <!--//signin and signup form ends here-->
{% endblock %}