{% extends 'base/base.html' %}
{% block content %}
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="index.html">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a href="#">Genre</a>
                </li>
                <li class="btn btn3">
                    <a href="#">{{ genre_name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="wrapper_top_shop" style="min-height:55vh; padding-bottom:60px;">
    <div class="container-fluid">
        <div class="jumbotron">
            <h4 class="rad-txt">
                <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
                <span class="big-tab pull-left">{{ genre_name }}</span>
            </h4>
            <!-- product-sec1 -->
                <!-- row1-->
                {% for book in books %}
                        <div class="col-md-3 col-xs-12 product-men" style="margin-top:2em;">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}">
                                        <img src="{{url_for('static', filename='images/'+book.book_cover)}}" class="book-img" style="height:195px; width:130px;"alt="">
                                    </a>
                                    <div class="book-overlay">
                                        <i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
                                        <div class="book-text">
                                            <h4>3/5</h4>
                                            <h4>{{ book.genre }}</h4>
                                            <a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}"><span class="button-blue-big">View Details</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ book.title }}</h4>
                                    <p class="author">{{ book.author_fname }} {{ book.author_lname }}</p>
                                    <p><a href="{{ url_for('view_profile', username=book.owner_username) }}" style="margin:auto; color: #777;">{{ book.owner_fname }} {{ book.owner_lname }}</a></p>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                <!-- //row1 -->
                <!-- row2 -->
        </div>
    </div>
</div>
                <!-- //product-sec1 -->
                <div class="clearfix"></div>
<!-- //about ends here -->
<!-- about bottom -->
    <div class="container-fluid">
        <!-- about-bottom grid1 -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about container ends here-->
</div>
<!--//about bottom ends here-->
<!-- //footer -->
{% endblock %}

