{% extends 'base/landingpage.html' %}

{% block content %}
<div class="about-sec section" id="about" style="padding: 5em 0 !important;">
    <div class="container">
        <!-- about-left-grid -->
        <div class="col-md-12 col-lg-12">
            <div class="inner-about2">
                <h4>Bookshelf</h4>
                <h5>the bookshelf catalogue</h5>
                <ul class="about-list">
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Action</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Adventure</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Biography</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Drama</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>English</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Essay</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>History</li>
                    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                        <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Horror</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Journalism</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Math</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Mystery</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Mythology</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Personal Narrative</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Reference Book</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Science</li>
                    <li>
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Speech</li>
                    </div>
                </ul>
                <a class="collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                    View
                </a>
            </div>
            <!-- about left bottom - services -->
            <div class="principles-grids principles-grids1">
                <div class="abt-btm agileits w3layouts aos-init aos-animate">
                    <div class="col-md-4 col-sm-4 col-xs-4 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                        <div class="bott-img agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">Academics</h4>
                            <div class="description agileits w3layouts">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                        <div class="bott-img bott-img1 agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">Fiction</h4>
                            <div class="description agileits w3layouts">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                        <div class="bott-img bott-img1 agileits w3layouts">
                            <div class="icon-holder agileits w3layouts">
                                <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                            </div>
                            <h4 class="mission agileits w3layouts">Non-fiction</h4>
                            <div class="description agileits w3layouts">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //about left bottom - services ends here -->
        </div>
        <!-- //about-left-grid ends here-->
        <!-- about-right-grid -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about ends here -->
<!-- about bottom -->
<div class="about-bottom section">
    <div class="container-fluid">
        <h4 class="rad-txt">
            <span class="abtxt1">BOOKSHELF</span>
            <span class="abtext">Genre</span>
        </h4>
        <!-- about-bottom grid1 -->
        <div class="col-md-12 about-bottom-right">
            <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>action</h5>
                        <p>Books in the action genre usually put more emphasis on exciting action sequences than deep
                            themes and character development. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>adventure</h5>
                        <p>A genre of fiction in which action is the key element, overshadowing characters, theme and
                            setting. The conflict in an adventure story is often man against nature. A secondary
                            plot that reinforces this kind of conflict is sometimes included.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Biography</h5>
                        <p>A life story documented in history and transformed into fiction through the insight and
                            imagination of the writer. This type of novel melds the elements of biographical research
                            and historical truth into the framework of a novel, complete with dialogue, drama and mood</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Drama</h5>
                        <p>Drama film is a genre that relies on the emotional and relational development of realistic
                            characters. While Drama film relies heavily on this kind of development, dramatic themes
                            play a large role in the plot as well.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>English</h5>
                        <p>English for academic purposes (EAP) entails training students, usually in a higher education
                            setting, to use language appropriately for study. It is one of the most common forms of
                            English for specific purposes (ESP).</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>essay</h5>
                        <p>a short literary composition on a particular theme or subject, usually in prose and generally
                            analytic, speculative, or interpretative.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>history</h5>
                        <p>a continuous, systematic narrative of past events as relating to a particular people,
                            country, period, person, etc., usually written as a chronological account. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>Horror</h5>
                        <p>Horror fiction is fiction in any medium intended to scare, unsettle, or horrify the audience.
                            Historically, the cause of the "horror" experience has often been the intrusion of a
                            supernatural element into everyday human experience.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about container ends here-->
</div>
<!--//about bottom ends here-->
<!-- //footer -->
{% endblock %}