{% extends 'base/base.html' %}
{% block content %}
<!-- banner -->
<div class="banner-bg-agileits">
    <div class='split-pane col-xs-6 col-sm-6 col-lg-6 uiux-side'>
      <div>
        <div class='text-content'>
          <div class='big'>BOOKSHELF</div>
        </div>
      </div>
    </div>
    <div class='split-pane col-xs-6 col-sm-6 col-lg-6 frontend-side'>
      <div>
        <div class='text-content'>
          <div class="bold"></div>
        </div>
      </div>
    </div>
    <div id='split-pane-or'>
      <div>
      </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="wrapper_top_shop" style="min-height:55vh; padding-bottom:60px;">
    <div class="container-fluid">
        <div class="jumbotron" style="margin-top:3em;">
            <h4 class="rad-txt">
                <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>

                <span class="big-tab pull-left">Wishlist</span>


            </h4>
            <div class="alert alert-danger alert-dismissible fade in" style="text-align:center; display:{{display}}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;}</a>
                    <strong>{{message}}</strong>
            </div>
            <!-- product-sec1 -->
                <!-- row1-->
            <!-- product-sec1 -->
                <!-- row1-->

                <!-- //row1 -->
                <!-- row2 -->
                <!-- //row1 -->
                <!-- row2 -->
        </div>

        <h1 style="text-align:center; font-size:5em; margin:1em;">No books to display</h1>
    </div>
</div>
                <!-- //product-sec1 -->
                <div class="clearfix"></div>
<!-- //about ends here -->
<!-- about bottom -->
    <div class="container-fluid">
        <!-- about-bottom grid1 -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about container ends here-->
</div>
<!--//about bottom ends here-->
<!-- //footer -->
{% endblock %}



