{% extends 'base/base-shop.html' %}
{% block content %}
<!-- banner -->
<div class="banner-bg-agileits">
<div class='split-pane col-xs-6 col-sm-6 col-lg-6 uiux-side'>
  <div>
	<div class='text-content'>
	  <div class='big'>BOOKSHELF</div>
	</div>
  </div>
</div>
<div class='split-pane col-xs-6 col-sm-6 col-lg-6 frontend-side'>
  <div>
	<div class='text-content'>
	  <div class="bold"></div>
	</div>
  </div>
</div>
<div id='split-pane-or'>
  <div>
  </div>
</div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
<div class="container">
	<div class="row">
		<ul class="btn-group btn-breadcrumb bc-list">
			<li class="btn btn1">
				<a href="index.html">
					<i class="glyphicon glyphicon-home"></i>
				</a>
			</li>
			<li class="btn btn2">
				<a href="{{ url_for('store', page_num=1) }}">Bookshelf</a>
			</li>
		</ul>
	</div>
</div>
</div>
		<!--//breadcrumbs ends here-->
		<!-- Shop -->
		<div class="innerf-pages section" style="padding-top:0em !important;">
			<div class="container-cart">
				<!-- product left -->
				<form action="{{ url_for('store_search', page_num=1) }}" method="post">
				<div class="side-bar col-md-3">
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							Genre</h3>
						<ul>
							<li><label>
								<input type="checkbox" name="genre" value="Action" class="checked">
								<span class="span">Action</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Adventure" class="checked">
								<span class="span">Adventure</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Biography" class="checked">
								<span class="span">Biography</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Drama" class="checked">
								<span class="span">Drama</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="English" class="checked">
								<span class="span">English</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Essay" class="checked">
								<span class="span">Essay</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="History" class="checked">
								<span class="span">History</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Horror" class="checked">
								<span class="span">Horror</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Journalism" class="checked">
								<span class="span">Journalism</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Math" class="checked">
								<span class="span">Math</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Mystery" class="checked">
								<span class="span">Mystery</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Mythology" class="checked">
								<span class="span">Mythology</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Personal Narrative" class="checked">
								<span class="span">Personal Narrative</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Reference Book" class="checked">
								<span class="span">Reference Book</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Science" class="checked">
								<span class="span">Science</span></label>
							</li>
							<li><label>
								<input type="checkbox" name="genre" value="Speech" class="checked">
								<span class="span">Speech</span></label>
							</li>
							<li>
						</ul>
					</div>
					<!-- // preference -->
					<div class="search-hotel">
						<h3 class="shopf-sear-headits-sear-head">
							<span>Title</span> in focus</h3>
							<input type="search" placeholder="search here" name="search">
							<input type="submit" value="Search" style="width: 100%;
																		border: none;
																		padding: 10px;
																		margin-top: 0;
																		background: #52658F;
																		color: #000;
																		font-size: 1em;
																		letter-spacing: 1px;
																		-webkit-transition: .5s all;
																		-moz-transition: .5s all;
																		transition: .5s all;
																		font-family: 'Roboto', sans-serif;">
					</div>
					<!-- price range -->
					<!-- //price range -->
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							<span>Newly</span> Added</h3>
						<ul>
							<li><label>
								<input name="time" value="30" type="checkbox" class="checked">
								<span class="span">last 30 days</span></label>
							</li>
							<li><label>
								<input name="time" value="90" type="checkbox" class="checked">
								<span class="span">last 90 days</span></label>
							</li>
							<li><label>
								<input name="time" value="150" type="checkbox" class="checked">
								<span class="span">last 150 days</span></label>
							</li>

						</ul>
					</div>
					<!-- // preference -->
					<!-- discounts -->
					<!-- //discounts -->
					<!-- reviews -->
					<!-- //reviews -->


				</div>
				</form>
				<!-- //product left -->
				<!-- product right -->
				<div class="left-ads-display col-md-9">
					<div class="wrapper_top_shop">
						<!-- product-sec1 -->
						<div class="product-sec1">
							<!-- row1-->
							<h1 style="text-align:center; font-size:5em; margin:2em;">No books to display</h1>
							<!-- //row3 -->
							<div class="clearfix"></div>

						</div>

						<!-- //product-sec1 -->
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
    <!-- //about ends here -->
    <!-- about bottom -->

        <!-- //about container ends here-->
    </div>

    <!--//about bottom ends here-->
{% endblock %}
