{% extends 'base/base.html' %}
{% block content %}
    <!-- about -->
    <!-- breadcrumbs -->
		<div class="crumbs text-center">
			<div class="container">
				<div class="row">
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a href="index.html">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a href="{{ url_for('store') }}">Bookshelf</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--//breadcrumbs ends here-->
		<!-- Shop -->
		<div class="innerf-pages section">
			<div class="container-cart">
				<!-- product left -->
				<div class="side-bar col-md-3">
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							Genre</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Action</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Adventure</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Biography</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Drama</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">English</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Essay</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">History</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Horror</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Journalism</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Math</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Mystery</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Mythology</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Personal Narrative</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Reference Book</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Poetry Book</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Science</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Speech</span>
							</li>
							<li>
						</ul>
					</div>
					<!-- // preference -->
					<div class="search-hotel">
						<h3 class="shopf-sear-headits-sear-head">
							<span>author</span> in focus</h3>
						<form action="#" method="post">
							<input type="search" placeholder="search here" name="search" required="">
							<input type="submit" value="Search">
						</form>
					</div>
					<!-- price range -->
					<!-- //price range -->
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							<span>Newly</span> Added</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 30 days</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 90 days</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 150 days</span>
							</li>

						</ul>
					</div>
					<!-- // preference -->
					<!-- Binding -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Format</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Hardbound</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Softbound</span>
							</li>
						</ul>
					</div>
					<!-- //Binding -->
					<!-- discounts -->
					<!-- //discounts -->
					<!-- reviews -->
					<div class="customer-rev left-side">
						<h3 class="shopf-sear-headits-sear-head">Customer Review</h3>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>4.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.5</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>2.5</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- //reviews -->


				</div>
				<!-- //product left -->
				<!-- product right -->
				<div class="left-ads-display col-md-9">
					<div class="wrapper_top_shop">
						<!-- product-sec1 -->
						<div class="product-sec1">
							<!-- row1-->
                            {% for book in books %}
							<div class="col-md-3 product-men">
								<div class="product-chr-info chr">
									<div class="thumbnail">
										<a href="{{ url_for('viewbook', book_id=book.book_id, username=book.owner_username) }}">
											<img src="{{url_for('static', filename='images/'+book.book_cover)}}" class="book-img" style="height:305px; width:205px;"alt="">
										</a>
										<div class="book-overlay">
											<i class="fa fa-star" style="font-size:32px; color:#333A56" aria-hidden="true"></i>
											<div class="book-text">
												<h4>3/5</h4>
												<h4>{{ book.genre }}</h4>
												<span class="button-blue-big">View Details</span>
											</div>
										</div>
									</div>
									<div class="caption">
										<h4>{{ book.title }}</h4>
										<p class="author">{{ book.author_fname }} {{ book.author_lname }}</p>
										<p><a href="#" style="margin:auto; color: #777;"> Owner: {{ book.owner_fname }} {{ book.owner_lname }}</a></p>
										<div class="book-tags">
											<a href="#">Borrow<i class="fa fa-book" aria-hidden="true"></i></a>
											<a href="#">Buy<i class="fa fa-ruble" aria-hidden="true"></i></a>
											<a href="#">Bookmark<i class="fa fa-bookmark" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
							<!-- //row3 -->
							<div class="clearfix"></div>

						</div>
                        <nav aria-label="Page navigation example" style="text-align:center;">
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
						<!-- //product-sec1 -->
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
    <!-- //about ends here -->
    <!-- about bottom -->

        <!-- //about container ends here-->
    </div>
    <!--//about bottom ends here-->
{% endblock %}
