{% extends 'base/base.html' %}
{% block content %}
    <!-- about -->
    <div class="wrapper_top_shop">
        <h4 class="rad-txt">
            <a href="shop2.html" class="btn btn-success btn-view pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
            <span class="abtext">SUGGESTION</span>
            <ul class="nav nav-tabs">
                <li class="active btn btn-success btntab"><a data-toggle="tab" href="#toprated">Top Rated</a></li>
                <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu1">Latest Books</a></li>
                <li class="btn btn-success btntab"><a data-toggle="tab" href="#menu2">Newly Added</a></li>
            </ul>


        </h4>
        <div class="tab-content">
                <!-- product-sec1 -->
                <div id="toprated" class="product-sec1 tab-pane fade in active">
                    <!-- row1-->
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib1.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>be creative</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>$ 100.00</li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Niel Fontine</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>
                                            $250.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Jose portilla</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 80.00</li>
                                        <li>
                                            $100.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib6.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 120.00</li>
                                        <li>
                                            $130.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- //row1 -->
                    <!-- row2 -->
                </div>
                    <!-- //row2 -->
                    <!-- row3 -->

                <div id="menu1" class="product-sec1 tab-pane">
                    <!-- row1-->
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib8.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>be creative</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>$ 100.00</li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Niel Fontine</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>
                                            $250.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Jose portilla</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 80.00</li>
                                        <li>
                                            $100.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib6.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 120.00</li>
                                        <li>
                                            $130.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="product-sec1 tab-pane fade">
                    <!-- row1-->
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib2.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>be creative</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>$ 100.00</li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Niel Fontine</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 200.00</li>
                                        <li>
                                            $250.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Jose portilla</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 80.00</li>
                                        <li>
                                            $100.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib6.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Clayton Barton</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 120.00</li>
                                        <li>
                                            $130.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib7.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>marketing</h4>
                                <p>Scott Harris</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 180.00</li>
                                        <li>
                                            $220.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib1.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>online business</h4>
                                <p>Scott Harris</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 330.00</li>
                                        <li>
                                            $560.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib2.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>kids</h4>
                                <p>Cordebard</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 280.00</li>
                                        <li>
                                            $500.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a href="single_product.html">
                                    <img src="images/lib3.jpg" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>work from home</h4>
                                <p>Cordebard</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>$ 140.00</li>
                                        <li>
                                            $200.00
                                        </li>
                                    </ul>

                                    <div class="clearfix"> </div>
                                </div>
                                <form action="#" method="post">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- //row3 -->
            </div>
                    <!-- //product-sec1 -->
                    <div class="clearfix"></div>
    </div>
    <!-- //about ends here -->
    <!-- about bottom -->
    <div class="about-bottom section">
        <div class="container-fluid">
            <h4 class="rad-txt">
                <span class="abtxt1">BOOKSHELF</span>
                <span class="abtext">Genre</span>
                <a href="genre.html" class="btn btn-success pull-right">View more <span class="glyphicon glyphicon-triangle-right"></span> </a>
            </h4>
            <!-- about-bottom grid1 -->
            <div class="col-md-12 about-bottom-right">
                <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>academics</h5>
                            <p>An academic book can take many forms. In the past, these forms would generally have
                                been represented in print, but increasingly print formats are being accompanied or
                                sometimes replaced by digital versions, and digital formats are becoming
                                increasingly functional. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>action & adventure</h5>
                            <p>Featuring characters involved in exciting and usually dangerous activities and adventures</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>Art Books</h5>
                            <p>Books that showcase particular types of art.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>autobiography</h5>
                            <p>Autobiography, the biography of oneself narrated by oneself. Autobiographical works
                                can take many forms, from the intimate writings made during life that were not necessarily
                                intended for publication (including letters, diaries, journals, memoirs, and
                                reminiscences) to a formal book-length autobiography.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>biography</h5>
                            <p>A biography (from the Greek words bios meaning "life", and graphos meaning "write")
                                is an account of a person's life, usually published in the form of a book or essay,
                                or in some other form, such as a film.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>children's</h5>
                            <p>Children's literature is for readers and listeners up to about age 12. It is often
                                illustrated.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>classics</h5>
                            <p>A classic stands the test of time. The work is usually considered to be a
                                representation of the period in which it was written; and the work merits lasting
                                recognition. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>Comic Books</h5>
                            <p>A comic book or comicbook, also called comic magazine or simply comic, is a
                                publication that consists of comic art in the form of sequential juxtaposed panels
                                that represent individual scenes.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //about container ends here-->
    </div>
    <!--//about bottom ends here-->
{% endblock %}
