{% extends 'base/landing-page.html' %}

{% block content %}
        <!-- //navbar ends here -->
        <!-- signin and signup form -->
        <div class="login-form section text-center" style="min-height:95vh; padding-bottom:60px;">
            <div class="container">
                <h4 class="rad-txt">
                    <span class="abtxt1">Sign in</span>
                    <span class="abtext">sign up</span>
                </h4>
                <div id="signupbox" style="display:block; margin-top:50px" class="mainbox loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px">
                                <a id="signinlink" href="{{ url_for('login')}}">Sign In</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form id="signupform" class="form-horizontal" action="{{ url_for('check_username') }}" method="post">
                                <h3>Account Information</h3>
                                <br>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Username</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control" name="username" placeholder="Username" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Password</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="password" class="form-control" name="password" placeholder="Password" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="signup-btn">
                                        <button id="btn-signup" type="submit" form="signupform"  class="btn btn-info">
                                            <i class="icon-hand-right"></i>Next</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="cpy-right footer">
                <p>© 2018 Chronicle. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
    </footer>
    <!--//signin and signup form ends here-->
{% endblock %}